.Top {
    display: flex;
    justify-content: flex-end;
}

.Top Button {
    margin: 10px;
    margin-right: 20px;
}

.Main {
    margin: 50px;
}

.Main > h1 {
    margin: auto;
    margin-bottom: 40px;
    color: #212121;
    font-size: 30px;
}